.loader {
    display: block;
    text-align: center;

    height: 20px;
    width: 140px;
    background-image:
        linear-gradient(#FFF 20px, transparent 0),
        linear-gradient(#FFF 20px, transparent 0),
        linear-gradient(#FFF 20px, transparent 0),
        linear-gradient(#FFF 20px, transparent 0);
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: 0 0, 40px 0, 80px 0, 120px 0;
    animation: pgfill 1s linear infinite;
    padding: auto;
    margin: auto;

}

@keyframes pgfill {
    0% {
        background-image: linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
    }

    25% {
        background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
    }

    50% {
        background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
    }

    75% {
        background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FFF 20px, transparent 0);
    }

    100% {
        background-image: linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0), linear-gradient(#FF3D00 20px, transparent 0);
    }
}

.is-hidden {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.breed-select {
    width: 400px;
    padding: 20px;
    font-size: 20px;
    margin: 30px auto;
    border-radius: 50%;
    text-align: center;

}

.cat-window {
    display: flex;
    justify-content: center;
    text-align: center;
}




.cat-info {
    border: 2px solid #fafafa;
    max-width: 500px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.cat-options {
    font-size: 18px;
    font-weight: 700;
}

body {
    background-color: burlywood;
}